.homepage-container {
    display: flex;
    flex-direction: column;
}

.homepage-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner {
    width: 60%;
    height: 100%;
    padding: 1rem;
}

.quick-notification {
    flex-grow: 1;
    padding: 2rem;
}

.homepage-category-top {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 1rem 0.2rem;
}

.homepage-product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.homepage-product>.product-card {
    margin: 1rem;
}

.scroll-bar-x {
    overflow-x: scroll;
}

.scroll-bar-x::-webkit-scrollbar {
    height: 0.6rem;
    background-color: #FFC2C2;
}

.scroll-bar-x::-webkit-scrollbar-thumb {
    background: #FF6347;
    border-radius: 10px;
}

.product-view {
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #E0E0E0;
}

.product-view-image {
    width: 50%;
    padding: 0.7rem;
    border-radius: 7px;
}

.product-view-bag {
    width: 50%;
    height: 100%;
    padding: 2rem;
}

.main-image {
    width: 100%;
    min-height: 20rem;
}

.product-list-image {
    display: inline-flex;
    padding: 1rem;
    border-radius: 3px;
}

.product-item-image {
    height: 6rem;
    width: 6rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.product-view-parameter li {
    height: 2rem;
    list-style-type: square;
    margin-left: 1rem;
}

.product-view-parameter>ul {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    margin: 2rem 0.1rem;
}

.product-option {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    margin: 2rem 0.1rem;
}

.product-option-item {
    padding: 0.5rem;
    border: 1px solid #FF9999;
    border-radius: 7px;
    margin: 0.5rem;
    background-color: #FFEBEB;
}

.product-option-item:hover {
    background-color: #FFC2C2;
}

.product-action {
    display: flex;
    justify-content: start;
    margin: 1rem 0.1rem;
}

.product-action input {
    height: 2rem;
    background-color: #FF8585;
    padding: 0.4rem;
    margin: 0 0.3rem;
    border-radius: 3px;
}

.product-action>input:hover {
    background-color: #FF7070;
}

.product-info-report {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0.1rem;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    color: tomato;
    font-size: 1.2rem;
}

.product-share {
    display: flex;
    padding: 1.5rem;
}

.product-share>i {
    font-size: 2rem;
    align-items: center;
    color: #FF4747;
    width: 3em;
    height: 3rem;
}

.product-share>i:hover {
    color: #FF0A0A;
}

.cart-content {
    display: flex;
}

.cart-products {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid #E0E0E0;
    padding: 1rem;
    margin: 1rem 1rem;
}

.cart-to-pay {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
}

.cart-total-prices {
    display: flex;
    flex-direction: column;
}

.cart-code-discount {
    border: 1px solid #E0E0E0;
    padding: 1rem;
}

.cart-code-discount nav,
.cart-code-discount input {
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    height: 2rem;
}

.cart-code-discount nav {
    background-color: #FFD6D6;
    line-height: 2rem;
}

.cart-total-price {
    padding: 1rem;
    text-align: center;
}

.cart-total-price li {
    margin-top: 0.5rem;
    border-bottom: 1px solid #E0E0E0;
    padding: 1rem;
    font-size: 1.2rem;
}

.cart-total-price li input {
    width: 100%;
    background-color: #FF5C5C;
    height: 2rem;
    font-size: 1.1rem;
    margin-top: 0.2rem;
    color: #F7FFF7;
    border-radius: 3px;
}

.cart-total-price li input:hover {
    background-color: #FF1F1F;
}