* {
    margin: 0;
    padding: 0;
    outline-style: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5rem;
    padding: 1rem 0;
}

.header-logo {
    flex-basis: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.header-search {
    display: flex;
    flex-basis: 40%;
    height: 100%;
    border: 1px solid #4ecdc4;
}

.header-search_input {
    width: 60%;
    height: 90%;
    padding: 0 20px;
    font-size: 1.2rem;
}

.header-search_category {
    width: 30%;
    border-left: 1px solid #FF6B6B;
    margin: 0 1rem;
    text-align: center;
}

.header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0.5rem;
    text-align: center;
    width: 20%;
}

.header-cart {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
    padding: 1rem;
    background-color: #607080;
    color: white !important;
}

.nav-category {
    width: 20%;
}

.nav-category nav {
    text-align: center;
    font-size: 1.3rem;
}

.nav-menu {
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav-other {
    flex-grow: 1;
    text-align: center;
}

.nav-menu>ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-menu>ul>li {
    font-size: 1.2rem;
    width: 100%;
    text-transform: uppercase;
}

.nav-menu a {
    text-align: center;
    display: block;
    color: white;
    width: 100%;
    height: 100%;
}

.nav-menu nav {
    margin-left: 10rem;
}

.nav-menu a:hover {
    border-bottom: 2px solid #FF6B6B;
    transition: all 500ms ease 0s;
}

.category-item {
    width: 20%;
    margin: 1rem;
    box-sizing: border-box;
    position: relative;
}

.category-item>ul {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #E8EBED;
    box-sizing: border-box;
}

.category-item>ul>li {
    display: flex;
    height: 2.5rem;
    align-items: center;
    border-bottom: 1px solid #E8EBED;
    padding: 0.1rem 0.5rem;
}

.category-item a {
    margin-left: 1rem;
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: unset;
    display: flex;
    align-items: center;
    color: black;
    cursor: default;
}

.category-item>ul>li:hover {
    border-bottom: 3px solid #FF6B6B;
    background-color: #FFFCEB;
    transition: all 300ms;
    width: 110%;
}

.category-item img {
    border: 1px solid #A5ADB6;
    border-radius: 3px;
    height: 2rem
}

.category-content-detail {
    position: absolute;
    width: 350%;
    height: 90%;
    top: 0px;
    left: 99%;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFCEB;
    visibility: hidden;
}

.category-item>ul>li:hover .category-content-detail {
    visibility: visible;
}

.banner-image-container {
    position: relative;
    min-height: 20rem;
    width: 100%;
}

.banner-image-container>img {
    border: 1px solid #A5ADB6;
    border-radius: 3px;
}

.banner-circle-button {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Button circle */

.banner-circle-button>input {
    width: 15px;
    height: 15px;
    margin: 1rem;
    border-radius: 15px;
}

.banner-circle-button--bgred {
    background-color: #FF6B6B;
    transition: all 500ms;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    min-height: 10rem;
    padding: 0.4rem;
    border: 1px solid #E0E0E0;
    margin: 0 0.5rem;
    border-radius: 3px;
}

.category-card:hover {
    opacity: 0.8;
}

.category-card>img {
    border-radius: 3px;
}

.category-card>h4 {
    color: #FFFFFF;
    background-color: #36BFB6;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    margin: 0.1rem 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 0.2rem;
    border: 1px solid #E8EBED;
    align-items: center;
}

.product-card .product_img {
    width: 100%;
    border-radius: 3px;
}
.product_img img{
    width: 100%;
    height: 100%;
}
.product-card>.product-info {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.product-info>.product-count-bought {}

.product-card>a {
    color: #40474F;
    text-align: center;
}

.product-function {
    display: none;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 40%;
}

.product-function>i {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    border-radius: 3px;
    text-align: center;
    color: #FF4747;
}

.product-function>i:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.product-card:hover {
    opacity: 0.9;
}

.product-card:hover .product-function {
    display: flex;
    flex-direction: row;
}

.product-function .detail {
    position: absolute;
    display: none;
    color: white;
    width: 200%;
    top: -70%;
    left: -50%;
    font-size: 0.8rem;
    background-color: #0A0A0A;
    padding: 0.3rem;
}

.product-function>i:hover .detail {
    display: block;
}

.hr {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.hr::after {
    width: 90%;
    height: 1px;
    background-color: #1F1F1F;
    content: "";
}

.footer {
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-social,
.footer-payment,
.footer-app,
.footer-feedback {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 2rem;
}

.footer-social div,
.footer-payment div,
.footer-app div,
.footer-feedback div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    padding: 0.3rem;
}

.footer-content h4 {
    text-align: center;
    padding: 1.5rem 0;
}

.footer-payment i,
.footer-social i,
.footer-app i {
    font-size: 3rem;
    margin: 0 1rem;
}

.footer-feedback input {
    width: 95%;
    height: 2rem;
    border: 1px solid #4ECDC4;
    padding: 0 1rem;
}

.footer-feedback i {
    font-size: 1.5rem;
    margin: 0 0.4rem;
    background-color: #FFEE99;
    padding: 0.3rem;
    border: 1px solid #4ECDC4;
}

.footer-feedback i:hover {
    background-color: #FFDD33;
    padding: 0.3rem;
}

.footer .fa {
    color: #31AFA7;
}

.tab-content {
    display: none;
}

.tab-active {
    display: block !important;
}

.cart-item {
    display: flex;
    flex-direction: row;
    height: 10rem;
    padding: 0.5rem;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    margin: 0.5rem 0rem;
}

.cart-item-image {
    height: 100%;
    padding: 1rem
}

.cart-item-image>img {
    border-radius: 2rem;
}

.cart-item-title>nav input {
    margin: 0 3rem;
    color: #247F7B;
    padding: 0.5rem;
    margin-top: 1.3rem;
}

.cart-item-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
}

.cart-item-title>nav input:hover {
    background-color: #FFADAD;
}

.cart-item-price {
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

.cart-item-number {
    display: flex;
    flex-direction: row;
    border: 1px solid #E8EBED;
}

.cart-item-number input {
    height: 2rem;
    width: 2rem;
    text-align: center;
}

.cart-item-number input:nth-child(2) {
    margin: 0 0.2rem;
}

.cart-item-number input:hover {
    background-color: #DFF6F5;
}

.category-child-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #D0D6DC;
    height: auto;
    padding: 0.3rem;
    height: fit-content;
    margin: 0.5rem;
    border-radius: 7px;
}

.category-child-container>h4 {
    text-align: center;
    border-bottom: 1px solid #E8EBED;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
}

.category-child-container>a {
    margin: 0.1rem;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 2px;
}

.category-child-container>a:hover {
    background-color: #FFD6D6;
}

.card-comment {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #FFADAD;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.commnet-image {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.comment-list-image {
    display: inline-flex;
    height: 3rem;
    justify-content: space-around;
    border: 1px solid #FFADAD;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 3px;
}

.comment-list-image img {
    margin: 0 1rem;
    border-radius: 7px;
    padding: 0.1rem;
    border: 1px solid #D0D6DC;
    box-sizing: border-box;
    max-width: 3rem;
    min-height: 2rem;
}

.overview-comment {
    display: flex;
}

.overview-comment>* {
    margin: 1px 1rem;
}

.commnet-content>p {
    padding: 0.1rem 1rem;
}

.comment-image-main>img {
    max-height: 10rem;
    margin: 1rem 0;
    display: none;
}

.display-block {
    display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .header-container{
        flex-direction: column;
        height: auto;
    }
    .banner-image-container{
        width: 100%;
        min-height: auto;
    }
    .nav-container{
        flex-direction: column;
    }
    .category-item{
        width: 100%;
    }
    .footer-content{
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
}

/* https://coolors.co/292f36-4ecdc4-f7fff7-ff6b6b-ffe66d */


/* Gunmetal,Medium Turquoise,Mint Cream,Bittersweet,Naples Yellow */